html {
	background-color: #edf2c5;
    box-sizing: border-box;
    width: 1260px;
    height: 940px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
    text-decoration:none;
    color:#778a50;
}

.main{
    margin-left: 160px;
    margin-right: 160px;
}
.header-logo{
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.82;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
    margin-bottom: 0;
}
.header-layout{
    display:flex;
    align-items:center;
    margin-top: 53px;
    height: 62px;
    margin-bottom: 8px;
}
.header-link{
    display:flex;
    height: 25px;
}
.btn_facebook{
    object-fit: contain;
    margin: 0px 10px 0px 469px;

}
.btn_instagram{
    object-fit: contain;
    margin: 0 10px 0 0;
}
.header-line{
    width: 1px;
    height: 25px;
    background-color: #778a50;
    margin-right: 10px;
    margin-bottom: 17px;
}
.header-link-button-login{
    border: solid 1px #778a50;
    border-radius: 3px;
    background-color : #EDF2C5;
    margin-right: 10px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
    height: 25px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-link-button-join{
    border: solid 1px #778a50;
    border-radius: 3px;
    background-color : #EDF2C5;
    margin-right: 10px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
    height: 25px;
    width: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    width: 940px;
    height: 44px;
    border-radius: 3px;
    background-color:#778a50;
    margin-top: 8px;
    padding-top:5px;
}
.nav-list{
    display:flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.nav-list-item{
  margin-left: 30px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color:  #edf2c5;
;
}
.main-area{
    margin-top: 20px;
}
.pumpkin{
    width: 940px;
    height: 448px;
}
.aside-style{
    display: flex;
    margin-top: 30px;
    justify-content:space-between;
}
.vegetable{
    width: 444px;
}
.aside-head{
    width: 444px;
    height: 45px;
    border-radius: 3px;
    background-color: #778A50;
    margin-bottom: 15px;
    padding-top:5px; 
}
.aside-head-h2{
    margin-left: 30px;
    width: 98px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color:  #edf2c5;
;
}
.aside-img{
    display: flex;
    justify-content:space-between;
}
.contact{
    width: 444px;
}
.contact-area{
    width: 444px;
    height: 140px;
    background-color:#f7fbda;
    border-radius: 3px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top:1px ;
}
.contact-p1{
    font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}
.contact-line{
    width: 414px;
    height: 1px;
    background-color: #7d7d7d;
    margin-top:15px;
}
.contact-p2{
    margin-top: 15px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
}
.footer{
    width: 1260px;
    height: 60px;
    background-color: #778a50;
    margin-top: 35px;
    padding: 1px 479px 23px 480px;
}
.footer-p{
  width: 301px;
  height: 14px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color:  #edf2c5;
;
}